$light-black: #323437;
$white: #fff;
$transparent-white: rgba(250, 253, 246, 0.85);
$blue: #62BEC1;
$transparent-blue: rgba(98, 190, 193, 81%);
$light-yellow: #EEEFA8;
$strong-yellow: #EAE151;
$crimson: #863558;
$grey: #5F6162;
$font: 'Jost', sans-serif;

*{
  box-sizing: border-box;
}

html{
    font-family: $font;
}
body {
  margin: 0;
  margin-top: 90px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 90px;
  background-color: $light-black;
  z-index: 999;
  .container{
    align-items: center;
    justify-content: space-between;
  }
    div{
      p{
        margin: 0 0 5px 0;
        font-size: 15px;
        color: $white;
      }
    .logo{
      margin-top: 5px;
        img{
            position: relative;
            top: 4px;
            height: 40px;
        }
        a{
            text-decoration: none;
            font-size: 1.5rem;
            position: relative;
            left: 5px;
            bottom: 7px;
            color: $white;
        }
      }
    }
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  
  nav li {
    margin: 0 30px;
    &:last-of-type{
      margin-right: 0;
    }
  }
  
  nav a {
    text-decoration: none;
    color: $white;
    font-size: 16px;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $white;
    transition: all 0.3s ease-in-out;
  }

@media (max-width: 1024px) {
  .top {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:last-child {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  nav {
    padding-left: 20px;
    display: block;
    position: fixed;
    top: 90px;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: $blue;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    ul{
      flex-direction: column;
    }
  }

  nav li {
    border-bottom: 2px solid $strong-yellow;
    margin: 10px;
    text-align: left;
    width: 136px;
  }

  nav a {
    display: block;
    padding: 10px;
    color: $white;
    font-size: 16px;
  }
}
.container-slider .slick-dots{
  bottom: 200px;
  left: -35%;
  @media(max-width: 1200px){
    left: 0;
    bottom: 50px;
  }
}



body{
    background-color: $light-yellow;
    overflow-x: hidden;
  .container{
    display: flex;
    margin: 0 auto;
    @media (min-width: 1400px){
      width: 1360px;
    }
    @media(max-width: 1399px){
      width: 1170px;
    }
    @media(max-width: 1199px){
      width: 940px;
    }
    @media(max-width: 991px){
      width: 740px;
    }
    @media (max-width: 767px) {
      width: 90%;

    }
    @media (max-width: 560px) {}
  }
    .slide_1{
      padding-top: 20px;
        .container{
            display: flex;
            justify-content: space-between;
            margin: 50px auto;
            background-image: url('../images/main-blob.png');
            background-size: 70% 100%;
            background-repeat: no-repeat;
            background-position: left;
            height: 600px;
            @media (min-width: 1400px){
              width: 1360px;
            }
            @media(max-width: 1399px){
              width: 1170px;
            }
            @media(max-width: 1199px){
              width: 940px;
            }
            @media(max-width: 991px){
              width: 740px;
              margin-top: 10px;
              background-size: 100% 90%;
             
              background-position: center top;
              flex-direction: column;
            }
            @media (max-width: 767px) {
              width: 90%;
              background-size: 100% 70%;
            } 
            @media (max-width: 560px) {
              height: 350px;
              background-size: 100% 80%;
              margin-top: 30px;
            }
        }
        
        .info{
            margin: 100px 2% 0px 250px;
            
            div{
              margin: 0%;
            img{
                height: 300px;
                width: 450px;
                @media(max-width: 991px){                 
                  height: 250px;                  
                }       
                @media (max-width: 767px) {
                  height: 200px;
                  width: 300px;
                }        
                @media (max-width: 560px){
                  width: 170px;
                  height: 120px;
                  margin-left: 50px;
                }
                
              }
              
            }
           
            h1{
              color: $light-black;
                font-style: normal;
                font-weight: 800;
                font-size: 50px;
                margin: 0px 0px 0px 30px;
                @media (max-width: 767px) {
                  font-size: 30px;
                  
                }
                @media (max-width: 560px) {
                  margin-left: 50px;
                  font-size: 25px;
                }
            }
            p{
                font-style: normal;
                font-size: 25px;
                margin: 0px 0px 0px 30px;
                @media (max-width: 767px) {
                  font-size: 20px;                
                }
                @media (max-width: 560px) {
                  margin-left: 50px;
                  font-size: 15px;
                }
            }
            @media(max-width: 1199px){
              margin-left: 150px;
            }
            @media(max-width: 991px){
              margin-left: 170px;           
            }
            @media (max-width: 767px) {
              margin: 50px auto 10px auto;
            }       
        }
        .info-list{
            text-align: center;
            background-color: $transparent-white;
            height: fit-content;
            margin: 50px 5% 0px 20px;
            width: 30%;
            border-radius: 40px;
            padding: 20px 30px 20px 30px;
            h3{
                font-size: 25px;
            }
            li{
                text-align: left;
                color: $light-black;
                p{
                  font-size: 1rem;
                }            
            }
            @media(max-width: 1200px){
              margin-left: 0;
            }
            @media(max-width: 991px){
              margin: 50px auto;         
              width: 100%;
             .info-list-content{
              display: flex;
                div{
                  width: 50%;
                  margin-right: 20px;
                  li{
                    p{
                      font-size: 20px;
                    }
                  }
                }
              }
              #tab-li-item{
                display: list-item;
              }
              
              li{font-size: 2rem;
              }        
            }
            @media (max-width: 560px){
              .info-list-content{
                margin-top: 20px;
                display: block;
                div{
                  width: 100%;
                  li{
                    font-size: 16px;
                  }
                }
              }
              #tab-li-item{
                display: none;
              }
            }
          }
        }
      }

.slide_2{
  background-color: #eae151;
  .container-slider{
    display: block;
    background-color: $strong-yellow;
    .slider{
      display: flex;
      @media (max-width: 1200px){
        flex-direction: column-reverse;
      }
    }
    .text{
      text-align: center;
      width: 30%;
      div{
        padding-top: 100px;
        justify-content: center;
        display: flex;
        h2{
          font-size: 35px;
          position: relative;
          bottom: 20px;
        }
      }
      p{
        width: 300px;
        margin: 80px auto;
        font-size: 25px;
      }
    }
    .photo{
      width: 70%;
      height: 780px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width: 1200px){
      flex-direction: column-reverse;
      margin-top: 500px;
      .photo{
        width: 100%;
        height: 780px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .text{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        div{
          padding-top: 50px;
          justify-content: left;
          padding-left: 20px;
          display: flex;
        }
        p{
         padding: 0px;
         width: 300px;
         font-size: 25px;
        @media(max-width: 1200px){
          margin-top: 20px;
        }
        }
      }
    }
    @media (max-width: 560px){
      .photo{
        height: 400px;
      }
      .text{
        div{
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        p{
          padding: 0;
          margin: 0 auto 200px auto;
        }
      }
    }
    @media (max-width: 767px){
      .text{
        height: 40%;
      }
      .photo{
        height: 60%;
      }
    }
  }
  
}

.slide_3{
  .container{
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    .text{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;
      @media (max-width: 560px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    h2{
      font-size: 35px;
      margin: 0;
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      width: 100%;
    .card{
      display: flex;
      background-color: $transparent-white;
      border-radius: 10px;
      border: 2px solid $crimson;
      margin: 20px 50px;
      width: 450px;
      img{
        height: 200px;
        width: 200px;
      }
      :nth-child(1),
      :nth-child(2) {
        order: 1;
      }
      :nth-child(3),
      :nth-child(4) {
        order: 2;
      }
      p{
        font-size: 30px;
        width: 200px;
        padding-left: 10px;
      }
      #it-course{
        width: 150px;
        padding-top: 20px;
      }
      @media (max-width: 1199px){
        flex-direction: column;
        width: 300px;
        align-items: center;
        text-align: center;
      }
      @media (max-width: 991px){
        width: 250px;
        p {
          font-size: 25px;
        }
      }
      @media (max-width: 767px){
        width: 200px;
        p{
          font-size: 20px;
        }
      }
      @media (max-width: 676px){
        width: 380px;
        flex-direction: row;
      }
      @media (max-width: 500px){
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
        p{
          margin-top: 0px;
          width: 300px;
        }
        #it-course{
          width: 300px;
        }
      }
    }
  }
  
  }

}
.slide_4{
  background-image: url('../images/background-business.png');
  background-repeat: no-repeat;
  background-size: cover;
  .container{  
    padding-top: 50px;
    .text{
      display: flex;
      margin-bottom: 20px;
      h2{
        font-size: 35px;
        margin: 10px 0px 10px 5px;
        color: $white;
      }
    }
    .response{
      display: flex;
      width: fit-content;
      margin: 0 auto;
      @media (max-width: 1300px){
        width: fit-content;       
        flex-direction: column;
        div{
          align-items: center;
          justify-content: center;
          margin: 0px auto;
        }
      @media (max-width: 767px){
        div{
          margin: 10px auto;
        }
        }
        .text{
          @media (max-width: 560px){
            flex-direction: column;
          }
        }
      }
    }
    .response-left{
      color: $white;
      background-image: url('../images/blob_1.png');
      height: 600px;
      width: 680px;
      background-repeat: no-repeat;
      
      padding: 30px 180px 0px 80px;
      h3{
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 30px;
        @media (max-width: 560px) {
          margin: 30px 20px;
          font-size: 25px;
        }
      }
      @media (max-width: 1300px){
        height: 700px;
        width: auto;
        background-size: 700px;
        padding: 30px 100px 0px 120px;
      }
      @media (max-width: 767px) {
        background-image: none;
        background-color: $blue;
        width: 100%;
        height: fit-content;
        padding: 30px;
        margin-bottom: 50px;
        border-radius: 90px;
      } 
      @media (max-width: 560px) {
        padding: 10px;
      }
    }
    .response-1, .response-2, .response-3, 
    .response-right1, .response-right2, .response-right3{
      display: flex;
    }
    .response-1 svg, .response-3 svg{
      margin-top: 30px;
    }
    .response-2 svg{
      margin-top: 30px;
    }
    .response-1, .response-2, .response-3{
      p{
        margin-top: 5px;
        margin-left: 60px;
        margin-right: 110px;
        line-height: 1.2rem;
      }
      h5{
        margin: 10px 0px 0px 60px;
        font-size: 1rem;
      }
      width: 500px;
      @media(max-width: 1300px){
        p{
          font-size: 20px;
        }       
      }
      @media (max-width: 767px) {
        width: 100%;
        p, h5{
          margin: 10px;
          font-size: 25px;
        }
        p{
          font-size: 25px;
          line-height: 25px;
        }
      }
      @media (max-width: 767px) {
        p, h5{       
          font-size: 20px;
        }
      }
    }
   
    .response-right{
      width: 50%;
      @media (max-width: 1300px){
        display: flex;
      }
      .column{
        display: flex;
        @media (max-width: 1300px){
          display: none;
        }
      }
    }
    .response-right1{
      background-image: url('../images/lemon_blob_1.png');
      background-repeat: no-repeat;
      background-size:  300px 170px;
      width: 300px;
      height: 200px;
      .response-right1-1 svg{
        box-sizing:unset;
      }
      .response-right1-2{
        flex-direction: column;
      }
      
    }
    
    .response-right2{
      margin: 30px 0px 0px 100px;
      background-image: url('../images/lemon_blob_2.png');
      background-repeat: no-repeat;
      background-size:  400px 170px;
      width: 400px;
      height: 200px;
      .response-right2-1{
        padding: 70px 10px 0px 70px;
      }
      .response-right2-2{
        flex-direction: column;
        h5{
          padding: 30px 0px 10px 0px;
          margin: 0;
          font-size: 1.2rem;
        }
        p{
          width: 250px;
          padding: 0px 30px 0px 0px;
          margin: 0;
          line-height: 20px;
        }     
      }
    }
    
    .response-right3{
      margin-top: 50px;
      background-image: url('../images/lemon_blob_3.png');
      background-repeat: no-repeat;
      background-size:  400px 170px;
      width: 400px;
      height: 200px;
      .response-right3-1{
        padding: 70px 10px 0px 30px;
      }
      .response-right3-2{
        flex-direction: column;
        h5{
          padding: 30px 0px 10px 0px;
          margin: 0;
          font-size: 1.2rem;
        }
        p{
          padding: 0px 30px 0px 0px;
          margin: 0;
          line-height: 20px;
        }      
      }
      
    }
    .response-right1-1 svg{
      padding: 70px 10px 0px 30px;
      height: 50px;
    }
    
    .response-right1-2 {
      p{
        padding: 0px 30px 0px 0px;
        margin: 0;
        line-height: 20px;
      }
      h5{
        padding: 30px 0px 10px 0px;
        margin: 0;
        font-size: 1.2rem;
      }
    }

    .response-right2-2 p, .response-right3-2 p{
      padding: 0px 400px 0px 0px;
    }  
    @media(max-width: 1399px){
      width: auto;
    }
  }
}

.slide_5{
  
  .container{
    margin: 50px auto;
    flex-direction: column;
  .change-future{
    display: flex;
    justify-content: space-between;
    background-color: rgba(250, 253, 246, 0.85);
    border-radius: 30px;
    padding: 30px;
    
    .text{
      font-size: 2.5rem;
      width: 400px;
      button{
        margin-left: 30px;
      }
      p{
        margin-top: 80px;
        margin-left: 30px;
        margin-bottom: 50px;
      }
      @media(max-width: 1400px){
        p{
          margin-top: 50px;
        }
      }
      @media(max-width: 1100px){
        padding-left: 10px;
        width: 600px;
        p, button{
          margin-left: 0;
        }
      }
      @media(max-width: 670px){
        width: fit-content;
      }
      @media(max-width: 560px){
        width: 300px;
        p{
          font-size: 30px;
        }
      }
    }
    .image{
      width: 66.66%;
      img{
        width: 100%;
        height: auto;
        border-radius: 30px;
        @media (max-width: 1200px){
          height: 100%;
        }
        @media (max-width: 1101px){       
          height: 400px;
        }
        @media (max-width: 560px){
          height: 250px;
        }      
      }
      @media (max-width: 1101px){
        width: 100%;
      }
    }
    @media(max-width: 1100px){
      flex-direction: column-reverse;
    }
  }
  .help{
    margin-top: 50px;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    margin-bottom: 50px;
    @media (max-width: 767px){
      flex-direction: column-reverse;
      .ask-question, .read-question{   
          margin: 10px auto;     
      }
    }
  }
  .ask-question{
    .text{
      width: 350px;
      display: flex;
      padding: 0px 20px 20px 0px;
    }
    p{
      margin: 0px;
    }
    svg{
      height: 40px;
      padding-right: 10px;
      padding-top: 10px;
    }
    button{
      margin-left: 15px;
    }    
  }
  .read-question{
    .text{
      display: flex;     
      svg{
        height: 40px;
        padding-right: 10px;
        padding-top: 10px;
      }
      p{
        margin: 0px;
      }
      #lower-p{
        margin-bottom: 20px;
      }
    }
  }
}  }
footer{
  display: block;
  background-color: #323437;
  height: max-content;
  text-align: center;
  .container{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  p{
    padding: 20px;
    color: #FAFDF6;
    font-size: 0.8rem;
    margin: 0 auto;
  }
.footer-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 0 0 0;
  align-items: center;
  .logo {
    a{
      text-decoration: none;
      font-size: 1.5rem;
      color: #ffffff;
      position: relative;
      left: 10px;
      bottom: 10px;
    }
  }
  .bottom{
    justify-content: space-between;
    margin-top: 12px;
    a{
      text-decoration: none;
      color: $white;
      margin: 10px 30px;
    }
  }
  .bottom-adaptive{
    display: none;
  }
  @media(max-width: 990px){
    .bottom{
      display: none;
    }
    .bottom-adaptive{
      display: flex;
      text-align: left;
      flex-direction: column;
      a{
        text-decoration: none;
        color: $white;
        margin: 10px 30px;
      }   
    }
  }
  @media(max-width: 560px){
    flex-direction: column;
    .bottom-adaptive{
      align-items: center;
    }
    .logo{
      align-items: center;
    }
  }
}
}




#tab-li-item{
  display: none;
}
.choose-course, .search-course{
    background: none;
    border-radius: 15px;
    border-color: #863558;
    padding: 5px 35px 5px 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #2D2A32;
    cursor: pointer;
    &:hover{
        background:#863558;
        color: #ffffff;
      }
    transition: all 0.5s;
}
.search-course{
  color: $white;
  background-color: $crimson;
  padding: 5px 50px 5px 50px;
  margin-bottom: 40px;
}

.team_slide_1{
  background-image: url('../images/team/team-background.png');
  background-repeat: no-repeat;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      color: $white;
      font-size: 50px;
      margin-top: 150px;
      font-weight: 700;
      text-shadow: 4px 3px 0px $crimson;
    }
    h3{
      margin-top: 30px;
      font-weight: 400;
    }
    p{
      margin-top: 270px;
      color: $white;
      font-weight: 200;
    }
    img{
      margin-bottom: 5px;
    }
    @media (max-width: 560px){
      h1{
        text-align: center;
        font-size: 60px;
      }
      h3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 40px;
        font-size: 30px;
      }
      p{
        margin-top: 160px;
        font-size: 30px;
      }
    }
  }
}
.team_slide_2{
  display: block;
  .container{
    background-color: $transparent-white;
    border-radius: 30px;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
    @media (min-width: 1400px){
      width: 1360px;
    }
    @media(max-width: 1399px){
      width: 1170px;
    }
    @media(max-width: 1199px){
      width: 940px;
    }
    @media(max-width: 991px){
      width: 720px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    
    .team-member{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      padding-left: 15px;
      padding-right: 15px;
      @media(max-width: 990px){
        width: 50%;
      }
      @media(max-width: 560px){
        width: 100%;
      }
      .name{
        font-size: 28px;
        margin: 10px 0px 5px 0px;
      }
      p{
        font-size: 24px;
        margin: 0px 0px 50px 0px;
      }
      img{
        height: auto;
        width: 100%;
        border-radius: 10px;
      }
      @media(max-width: 1199px){
        .name{
          font-size: 25px;
        }
        p{
          font-size: 23px;
        }
      }
      @media(max-width: 990px){
        .name{
          font-size: 23px;
        }
        p{
          font-size: 18px;
        }
      }
      
    }
    
  }
  @media (max-width: 767px){
    padding: 30px;
  }
}


.courses_slide_1{
  background-image: url('../images/courses/courses-background.png');
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      color: $white;
      font-size: 70px;
      margin-top: 100px;
      font-weight: 700;
      text-shadow: 4px 3px 0px $crimson;
      width: 350px;
      text-align: center;
    }
    .user-choose{
      background-color: $transparent-white;
      border-radius: 10px;
      padding: 30px;
      margin: 100px auto;
      .checkboxes{
          input[type=checkbox] {
          height: 20px;
          width: 20px;
          border: 5px solid $crimson;
          margin-left: 20px;
          margin-right: 20px;       
        }
        @media (max-width: 560px){
          text-align: left;
          label{
            display: inline-block; 
          }         
        }
      }
      .filters{
        margin-bottom: 10px;
        select {
          background-color: $white;
          border: 2px solid $crimson;
          border-radius: 10px;
          height: 50px;
          width: 200px;
          margin-left: 20px;
          margin-right: 20px;
          padding-left: 10px;
          font-size: 15px;
          color: $grey;
          @media (max-width: 1200px){
            width: 150px;
            margin-bottom: 10px;
          }
          @media (max-width: 990px){
            display: inline-block;          
            width: 250px;
          }
          @media (max-width: 350px){
            width: 150px;
          }
        }
        @media (max-width: 990px){
          text-align: center;
        }
      }
    }
    @media (max-width: 560px){
      h1{
        text-align: center;
        font-size: 60px;
      }
    }
    @media (max-width: 350px){
      h1{
        font-size: 40px;
      }
    }
  }
}
.courses_slide_2{
  display: block;
  .container{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
    @media (min-width: 1400px){
      width: 1360px;
    }
    @media(max-width: 1399px){
      width: 1170px;
    }
    @media(max-width: 1199px){
      width: 940px;
    }
    @media(max-width: 991px){
      width: 720px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    
    .course-card{
      background-color: $white;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      width: calc(33.33% - 10px * 2);
      padding: 30px;
      margin: 10px;
      @media(min-width: 1400px){
        margin-bottom: 50px;
      }
      @media(max-width: 991px){
        width: calc(50% - 10px*2);
        padding: 30px;
      }
      @media(max-width: 650px){
        .choose-course{
          font-size: 15px;
        }
      }
      @media(max-width: 560px){
        width: 100%;
        .choose-course{
          font-size: 20px;
        }
        
      }
      @media(max-width: 350px){
        .choose-course{
          font-size: 10px;
        }
        
      }
      .name{
        font-size: 28px;
        margin: 10px 0px 5px 0px;
      }
      p{
        font-size: 24px;
        margin: 0px 0px 15px 0;
      }
      img{
        height: 200px;
        width: 100%;
        border-radius: 10px;
      }
      .choose-course{
        margin: 0 auto;
      }
      @media(max-width: 1199px){
        .name{
          font-size: 25px;
        }
        p{
          font-size: 23px;
        }
      }
      @media(max-width: 990px){
        .name{
          font-size: 23px;
        }
        p{
          font-size: 18px;
        }
      }
      
    }
    
  }
  @media (max-width: 767px){
    padding: 30px;
  }
}



.modal__window{
  overflow-y: auto;
}
.register, .login, .askquestion, 
.thankforquestion, .faq, .thankforbuying, 
.buycourse, .usercourses, .courseinfo{
  background-color: $transparent-blue;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  .container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .sign-up, .log-in, .ask-question, 
    .thank-for-question, .questions, 
    .thank-for-buying, .buy-course, 
    .user-courses, .course-info{
      text-align: center;
      background-color: $white;
      border-radius: 20px;
      padding: 30px;
      position: relative;
      width: 400px;
      @media (max-width: 559px){
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 100px;
      }
      a{
        display: block;
        margin-top: 5px;
        text-decoration: none;
        color: black;
      }
      .close-button {
        background-color: transparent;
        border: none;
        color: black;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;    
      }
      h2{
        margin-top: 0;
        font-size: 30px;
      }
      form{
        label{
          text-align: left;
          display: block;
        }
        .form-field{
          text-align: left;
          display: flex;
          height: 40px;
          border-radius: 5px;
          width: 100%;
          font-size: 20px;
          border-width: 1px;
          padding-left: 5px;
        }
      }
    }
  }
}
.askquestion{
  .container{
    background-color: transparent;
    .ask-question{
      text-align:left;
      width: 500px;     
      select {
        background-color: $white;
        border: 1px solid;
        border-radius: 10px;
        height: 45px;
        width: 200px;
        padding-left: 10px;
        font-size: 15px;
        color: $grey;
        margin-bottom: 20px;
      }
      textarea{
        width: 100%;
      }     
      .choose-course{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      @media (max-width: 559px){
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 100px;
      }
    }
  }
}
.thankforquestion, .thankforbuying, .usercourses, .courseinfo{
  .container{
    .thank-for-question, .thank-for-buying{
      width: 550px;
      h2{
        margin: 0;
      }
    }
  }
}
.faq{
  .container{
    .questions{
      width: 500px;
      text-align: left;
      @media (max-width: 559px){
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 100px;
      }
    }
    
  }
}
.buycourse{
  .container{
    .buy-course{   
        .row{
          display: flex;
          justify-content: space-between;
          .col{
            margin-right: 15px;
        }
      }
    }
  }
}
.usercourses{
  .container{
    .user-courses{
      .account{
        display: flex;
        div{
          text-align: left;
          margin-right: 30px;
          h3{
            margin-bottom: 0;
          }
          img{
            padding-top: 10px;
            height: 80px;
          }
        }
      }
    }
  }
}
.courseinfo{
  .container{
    .course-info{
      width: 930px;
      .info{
        text-align: left;
        .description{
          display: flex;
          
        .title{
          display: flex;
          h3{
            margin: 0 10px;
            font-size: 25px;
          }
        }      
        } 
        p{
          margin-top: 4px;
          font-size: 20px;
        }     
      }
      .choose-course{
        display: block;
        margin: 0 auto;
      }
      @media (max-width: 931px){
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 100px;
      }
      @media (max-width: 560px){
        .image{
          display: none;
        }
      }
    }
  }
}